<div class="accordion" id="accordionExample">
{%  for nature in natures %}
    <div class="accordion-item">
        <h4 class="accordion-header" id="nature-{{ nature.id }}">
            <button class="accordion-button {% if loop.first %}{% else %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ nature.id }}" aria-expanded="{% if loop.first %}true{% else %}false{% endif %}" aria-controls="collapse{{ nature.id }}">
            {{ nature.name }}
            </button>
        </h4>
        <div id="collapse{{ nature.id }}" class="accordion-collapse collapse {% if loop.first %}show{% else %}{% endif %}" aria-labelledby="nature-{{ nature.id }}" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                {% set parents = [] %}
                {% set childs = [] %}
                {% for category in categories|filter(category => category.parentCat is null ) %}
                    {% set parents = parents|merge([{categoryId: category.categoryId, nameCat : category.nameCat, natureId: category.natureId, natureName: category.natureName, parentCat: category.parentCat }]) %}
                {% endfor %}
                {% for category in categories|filter(category => category.parentCat is not null ) %}
                    {% set childs = childs|merge([{categoryId: category.categoryId, nameCat : category.nameCat, natureId: category.natureId, natureName: category.natureName, parentCat: category.parentCat }]) %}
                {% endfor %}
                <ul>
                {% for parent in parents|filter(parent => parent.natureName == nature.name) %}
                    {% set count = 0 %}
                    {% for category in categories|filter(category => category.parentCat == parent.nameCat ) %}
                        {% set count = count + 1 %}
                    {% endfor %}
                    <li>
                        {% if count == 0 %}
                        <a id="{{ parent.categoryId|upper }}" href="" class="filtercategory">{{ parent.nameCat }} - {{ parent.categoryId }}</a>
                        {% else %}
                        <a id="{{ parent.categoryId|upper }}" class="nolink">{{ parent.nameCat }} - {{ parent.categoryId }}</a>
                        {% endif%}
                        <ul>
                            {% for child in childs|filter(child => child.parentCat == parent.categoryId ) %}
                                <li><a id="{{ child.categoryId }}" href="" class="filtercategory">{{ child.nameCat }} - {{ child.categoryId }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endfor %}
</div>
